body{
    background-color: rgb(226, 151, 249);
}
*{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
hr{
    color: rgb(54, 0, 69);
}
.content{
    display: flex;
}
main{
    width: 70%;
}
aside{
    width: 30%;
}